@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  
  .content-container {
    padding-top: 4rem; /* Adjust to match the height of your Navbar */
  }
  


